.f-container{
    background: var(--primary-color);
    color: var(--body-background);
    letter-spacing: 0.3px;
    padding: 4rem 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
   
    
}

.f-container .logo-part{
    display: flex;
    align-items: center;
    gap: 3px;
    /* justify-content: flex-start; */
}

.l-side .lSide-text>p{
    margin: 1px;
}
.l-side .lSide-text>p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.m-side .mSide-text>p{
    margin: 1px;
}
.m-side .mSide-text>p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.r-side .rSide-link{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.r-side .rSide-link>a {
    color: var(--body-background)

}
.r-side .rSide-link>a:hover {
    color: var(--secondary-color)

}


.f-icon{
    font-size: 30px;
}



@media screen and (min-width:767px) and (max-width:1023px) {
    .f-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
@media screen  and (max-width:767px) {
    .f-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 30px 10px;
    }
}