.shoes-container{
    padding: 1.5rem 4px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1.5rem;
    padding: 0.8rem;
    place-items: center;
}

.feature-header{
    display: flex;
    align-items: center;
    gap: 4px;
   
}
.feature-header>img{
    width: 50px;
}

.feature-header>h3{
    color: var(--primary-color);
    font-size: 2.5rem;
    padding: 1.5rem 0;
}

.See-more-btn{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: flex-end;
    color: var(--primary-color);
    padding-right: 10px;
    margin-top: 6rem;
}

.See-more-btn>a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    padding: 4px;
}



@media screen and (max-width:767px ) {
     
    .card-container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);  
        place-items: center;
        gap: 3rem;
    }

    .feature-header>img{
        width: 30px;
    }
    .feature-header>h3{
        color: var(--primary-color);
        font-size: 1.3rem;
    } 
    .See-more-btn{
        margin-top: 1rem;
        padding-right: 20px;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        place-items: center;
        gap: 2rem;
    }
   
    .feature-header>img{
        width: 50px;
    }
    .feature-header>h3{
        color: var(--primary-color);
        font-size: 2rem;
    } 

    .See-more-btn{
        display: flex;
        align-items: center;
        gap: 2px;
        justify-content: flex-end;
        color: var(--primary-color);
        padding-right: 3rem;
        margin-top: 2rem;
    }
   
}