:root{
  --body-background :  #F9FAFB ;
  --primary-color : black ;
  --secondary-color : #a50bd4 ;
  --btn-background : #0c0c0c ;
  --btn-color : rgb(239, 241, 246) ;
}

[data-theme = "dark"]{
  --body-background : #0D1117 ;
  --primary-color : #e9ecf1 ;
  --secondary-color : #df120b ;
  --btn-background: #f3f4f6 ;
  --btn-color : black ;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
